body {
    

}


/* CSS untuk tajuk (heading) */
h1 {
    font-size: 36px;
    color: #333;
}

/* CSS untuk sub-tajuk (sub-heading) */
h3 {
    font-size: 24px;
    color: #007BFF; /* Warna biru */
}

/* CSS untuk paragraf */
p {
    font-size: 18px;
    color: #007BFF;
}

/* CSS untuk daftar dengan tipe 'disc' */
ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* CSS untuk item daftar */
ul li {
    font-size: 16px;
    color: #333;
}

/* CSS untuk daftar dengan tipe '1' */
ol {
    list-style-type: decimal;
    margin-left: 20px;
}

/* CSS untuk item daftar dengan tipe '1' */
ol li {
    font-size: 16px;
    color: #333;
}
